
$color-warm-gray: rgb(87, 79, 74);
$color-black: rgb(0, 0, 0);
$color-social-pinterest: rgb(203, 32, 40);
$color-green: rgb(115, 196, 143);
$color-light-gray: rgb(246, 246, 246);
$color-orange: rgb(250, 164, 26);
$color-white: rgb(255, 255, 255);
$color-social-google: rgb(221, 75, 57);
$color-yellow: rgb(255, 206, 81);
$color-dark-gray: rgb(64, 64, 64);
$color-medium-gray: rgb(166, 166, 166);
$color-red: rgb(241, 93, 34);
$color-blue: rgb(72, 185, 199);
$color-purple: rgb(51, 10, 36);
$color-social-github: rgb(0, 0, 0);
$color-social-facebook: rgb(59, 87, 157);
$color-social-instagram: rgb(255, 185, 0);
$color-social-ubuntu: rgb(48, 10, 36);
$color-social-twitter: rgb(0, 182, 241);
$font-family-sans: Fira Sans,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Nato Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
$font-family-slab: Roboto Slab,serif;
$font-family-mono: Ubuntu Mono,Ubuntu Monospace,Menlo,Consolas,Roboto Mono,Noto Mono,Oxygen Mono,Liberation Mono,monospace;
$line-height: 1.5;
$box-shadow-light-action: 0 0 8px rgba(250, 164, 26, 0.7),0 0 1px rgba(250, 164, 26, 0.7);
